body{
    font-family: Jacques Francois;
}
a.navbar-brand {
    font-size: 20;
}
li.nav-item {
    margin-right: 40px;
    font-size: 20;
}
.banner-image {
    background-image: url('img/bg4.png');
    background-size: cover;
    background-repeat: no-repeat;
}
h1.heading {
    color: #000;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h2.subheading {
    font-size: x-large;
}
a.btn.btn-outline-success {
    width: 20%;
    height: 40px;
    font-size: 23px;
    padding: 1px;
    color: #435334;
    border-color: #435334;
}
a.btn.btn-outline-success:hover{
    background-color:#435334;
    color:#CEDEBD;
}
#section-about {
    padding: 3em 0;
}
h4.site-sub-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: #B9B9B9;
    font-weight: 300;
}
h2.site-primary-title.display-4 {
    margin-top: 0;
    margin-bottom: 30px;
}
p {
    color: #B9B9B9;
}
a.btn-lg {
    font-size: 16px !important;
    padding: 13px 40px !important;
    border: 2px solid #ccc !important;
    color: #999999;
}
#section-about .img {
    position: relative;
    left: 5%;
}
.img-fluid{
    width: 75%;
}
#section-information {
    background-color: #e7e7e7;
}
#section-information .btn {
    font-size: x-large;
}
#section-information .card-body {
    padding: 1px;
}
#section-information .card-footer {
    text-align: left;
}
#section-colab .rounded-circle {
    width: 90%;
    /*border-radius: 50%;*/
    margin: 0px auto;
    margin-top: 10px;
}
#section-colab .card-title{
    font-weight: 700;
    font-size: 1.5em;
}
#section-colab .card{
    border-color: #fff;
}
#section-footer{
    background-color: #282C2F;
    color: white;
}
i.fa-solid.fa-location-dot {
    color: white;
    background-color: #343b3b;
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
    font-size:24px;
}
i.fa-regular.fa-phone {
    color: white;
    background-color: #343b3b;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}
i.fa-regular.fa-envelope{
    color: white;
    background-color: #343b3b;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}
#section-footer .text-white {
    font-size: 20px;
}
p.footer {
    font-size: larger;
}
#section-footer .foot {
    margin-top: 55px;
}
i.fa-brands.fa-facebook-f {
    color: white;
    background-color: #343b3b;
    padding: 10px;
    font-size: 24px;
}
i.fa-brands.fa-twitter {
    color: white;
    background-color: #343b3b;
    padding: 10px;
    font-size: 24px;
}
i.fa-brands.fa-instagram {
    color: white;
    background-color: #343b3b;
    padding: 10px;
    font-size: 24px;
}
i.fa-brands.fa-linkedin-in {
    color: white;
    background-color: #343b3b;
    padding: 10px;
    font-size: 24px;
}